.about {
    h2 {
        font-weight: 400;
        font-size: 2rem;
    }

    a {
        color: coral;
    }

    .cv-button {
        //background-color: #74b9ff;
        padding: 15px 25px;
        color: #74b9ff;
        border: 2px solid #74b9ff;

        &:hover {
            background-color: #74b9ff;
            color: white;
        }
    }
}