.cv {
    display: grid;
    grid-template-columns: 25% 2fr;
    grid-template-rows: 10% repeat(6, 1fr);
    grid-gap: 25px;
    margin-bottom: 15%;
    color: #363636;

    h3 {
        font-size: 1.25rem;
        font-weight: 600;
        color: black;
    }

    p {
        font-size: 1rem;
        line-height: 220%;
    }

    .cv-box {
        background-color: #FAFAFA;
        border-radius: 15px;
        transition: 0.3s;
        padding: 2% 8% 2% 4%;
    }
    
    .cv-box:hover {
        background-color: #f3f3f3;
    }

    .box1 {
        text-align: center;
        padding: 10%;

        .profile-img {
            height: 160px;
            width: 160px;
            object-fit: cover;
            border-radius: 50%;
        }

        p {
            font-size: 1rem;
            font-weight: 600;
            line-height: 180%;
            color: #606060;

            span {
                font-weight: 400;
            }
        }
    }

    .box2 {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    .box3 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .box4 {
        grid-column: 1/2;
        grid-row: 3/7;
        padding: 0 2% 4% 9%;
        line-height: 220%;

        h3 {
            margin: 15% 5% 5% 0;
        }

        span {
            font-size: 0.875rem;
            color: #666666;
        }

        a {
            color: #363636;
        }

        a:hover {
            color: #7EB1D7;
        }
    }

    .box5 {
        grid-column: 2/3;
        grid-row: 5/8;
    }

    .box6 {
        background-image: url(../img/plant-placeholder.jpg);
        background-size: cover;
    }
}

@media screen and (max-width: 1300px) {
    .cv {
        grid-template-columns: 1fr;
        grid-template-rows: 10% 10% 3fr 1fr 1fr 1fr 1fr 1fr;

        .section-h2 {
            grid-column: 1/2;
            grid-row: 1/2;
        }
    
        .cv-box {
            grid-column: 1/2;

        }
    
        .box1 {
            grid-row: 2/3;
        }

        .box2 {
            grid-row: 3/4;
        }

        .box3 {
            grid-row: 3/4;
        }
    }
}