footer {
    background-color: #FACECB;
    height: 800px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;

    li {
        display: inline-block;
        padding: 1rem;
    }

    hr {
        width: 80%;
        border: 1px solid #333232;
    }

    .part1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .bottom {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .kaffe {
        margin-top: 30px;
        margin-right: 10px;
        position: relative;
        animation: kaffeAnimation 15s ease-in-out infinite alternate;
    }

    @keyframes kaffeAnimation {
        0% {
            transform: translateY(-5px) rotate(8deg) translateX(50px);
        }

        100% {
            transform: translateY(5px) rotate(-10deg) translateX(-10px);
        }
    }
}

@media screen and (max-width: 1300px) {
    h2 {
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 650px) {
    h2 {
        font-size: 1.5rem;
    }
}