main {
    width: 70%;
    margin: 0 auto;
}

nav {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 3rem 0rem;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-between;
        flex: 1.5;
    }
    #logo {
        flex: 5;
    }
}

.forside {
    margin-top: 10%;

    h2 {
        margin: 2% 0;
    }
    h3 {
        margin: 0 0 5% 0;
    }

    .hero-img {
        height: 550px;
        overflow: hidden;
        margin-bottom: 5%;
    }

    .mobile-hero-img {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    main {
        width: 85%;
    }

    nav li a {
        display: none;
    }

    .forside {

        h2 {
            font-size: 2.2rem;
        }

        h3 {
            font-size: 0.90rem;
            margin: 3% 0;
        }

        .hero-img {
            display: none;
        }

        .mobile-hero-img {
            display: inline-block;
            height: 500px;
            overflow: hidden;
            margin: 4% 0 0 0;
        }
    }
}

@media screen and (max-width: 650px) {
    .forside {

        h2 {
            font-size: 1.8rem;
        }

        h3 {
            font-size: 0.75rem;
        }

        .mobile-hero-img {
            display: inline-block;
            height: 300px;
            overflow: hidden;
            margin: 4% 0 0 0;
        }
    }

    
}