.projekter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-gap: 25px;
    margin-bottom: 10%;

    .project-box {
        background-color: #C4C4C4;
        transition: 0.3s;
    }
    
    .project-box:hover {
        transform: scale(1.015);
    }
}

.section-h2 {
    font-weight: 600;
    font-size: 2rem;
    padding: 3rem 0;
    grid-column: 1/3;
}

@media screen and (max-width: 1300px) {
    .projekter {
        grid-template-columns: 1fr;
        //grid-template-rows: 1fr;
        grid-template-areas: 
        ".section-h2"
        ".project1"
        ".project1-text"
        ".project2"
        ".project2-text";

        .section-h2 {
            grid-area: section-h2;
        }
    
        .project1 {
            grid-area: project1;
        }
    
        .project1-text {
            grid-area: project1-text;
        }
    
        .project2 {
            grid-area: project2;
        }
    
        .project2-text {
            grid-area: project2-text;
        }
    }
}