.projekter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-gap: 25px;
    margin-bottom: 10%;

    .project-box {
        background-color: #C4C4C4;
        transition: 0.3s;
        height: 400px;
    }
    
    .project-box:hover {
        transform: scale(1.015);
    }
}

.section-h2 {
    font-weight: 600;
    font-size: 2rem;
    padding: 3rem 0;
    grid-column: 1/3;
}

@media screen and (max-width: 1300px) {
    .projekter {
        display: inline;
    }
}

@media screen and (max-width: 630px) { 
    .projekter {
        .project-box {
            height: 250px;
            margin-top: 30px
        }
    }
}