* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.125rem;
  font-weight: 400;
}

h2 {
  font-size: 3.75rem;
  font-weight: 400;
  color: #222222;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #767676;
  line-height: 180%;
}

h3 > span {
  font-style: italic;
  color: #7EB1D7;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  font-size: 0.875rem;
  color: #1E1E1E;
  line-height: 0.75rem;
}

li {
  font-size: 1rem;
  list-style-type: none;
}

a {
  color: #575757;
  text-decoration: none;
}

a:hover {
  color: #7EB1D7;
}

img {
  max-width: 100%;
}

main {
  width: 80%;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  padding: 3rem 0rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav #logo {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.forside {
  margin-top: 10%;
}

.forside h2 {
  margin: 2% 0;
}

.forside h3 {
  margin: 0 0 5% 0;
}

.forside .hero-img {
  height: 550px;
  overflow: hidden;
  margin-bottom: 12%;
}

@media screen and (max-width: 1300px) {
  nav li a {
    display: none;
  }
  .forside h3 {
    font-size: 1rem;
    margin: 8% 0;
  }
  .forside .hero-img {
    margin-bottom: 0;
    height: 300px;
  }
}

.projekter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  grid-gap: 25px;
  margin-bottom: 10%;
}

.projekter .project-box {
  background-color: #C4C4C4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.projekter .project-box:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.section-h2 {
  font-weight: 600;
  font-size: 2rem;
  padding: 3rem 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

@media screen and (max-width: 1300px) {
  .projekter {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: ".section-h2" ".project1" ".project1-text" ".project2" ".project2-text";
  }
  .projekter .section-h2 {
    grid-area: section-h2;
  }
  .projekter .project1 {
    grid-area: project1;
  }
  .projekter .project1-text {
    grid-area: project1-text;
  }
  .projekter .project2 {
    grid-area: project2;
  }
  .projekter .project2-text {
    grid-area: project2-text;
  }
}

.cv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 2fr;
      grid-template-columns: 25% 2fr;
  -ms-grid-rows: 10% (1fr)[6];
      grid-template-rows: 10% repeat(6, 1fr);
  grid-gap: 25px;
  margin-bottom: 15%;
  color: #363636;
}

.cv h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
}

.cv p {
  font-size: 1rem;
  line-height: 220%;
}

.cv .cv-box {
  background-color: #FAFAFA;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 2% 8% 2% 4%;
}

.cv .cv-box:hover {
  background-color: #f3f3f3;
}

.cv .box1 {
  text-align: center;
  padding: 10%;
}

.cv .box1 .profile-img {
  height: 160px;
  width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.cv .box1 p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 180%;
  color: #606060;
}

.cv .box1 p span {
  font-weight: 400;
}

.cv .box2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.cv .box3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.cv .box4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3/7;
  padding: 0 2% 4% 9%;
  line-height: 220%;
}

.cv .box4 h3 {
  margin: 15% 5% 5% 0;
}

.cv .box4 span {
  font-size: 0.875rem;
  color: #666666;
}

.cv .box4 a {
  color: #363636;
}

.cv .box4 a:hover {
  color: #7EB1D7;
}

.cv .box5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5/8;
}

.cv .box6 {
  background-image: url(../img/plant-placeholder.jpg);
  background-size: cover;
}

@media screen and (max-width: 1300px) {
  .cv {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ".section-h2" ".box1" ".box2" ".box3" ".box4" ".box5";
  }
  .cv .section-h2 {
    grid-area: section-h2;
  }
  .cv .cv-box {
    grid-area: cv-box;
  }
  .cv .box1 {
    grid-area: box1;
  }
  .cv .box2 {
    grid-area: box2;
  }
  .cv .box3 {
    grid-area: box3;
  }
  .cv .box4 {
    grid-area: box4;
  }
  .cv .box5 {
    grid-area: box5;
  }
}

footer {
  background-color: #FACECB;
  height: 800px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 2fr 1fr 1fr;
      grid-template-rows: 1fr 2fr 1fr 1fr;
}

footer li {
  display: inline-block;
  padding: 1rem;
}

footer hr {
  width: 80%;
  border: 1px solid #333232;
}

footer .part1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

footer .bottom {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

@media screen and (max-width: 1300px) {
  h2 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */